<div class="bg_wht">
<div class="container">
<div id="brands-carousel" class="carousel slide mt-15 mb-15" data-ride="carousel">
<div class="carousel-inner" role="listbox">
<div class="item active">
<div class="row">
<div class="col-sm-2 col-xs-6 text-center">
<%= image_tag "brand-addidas.png" %>
</div>
<div class="col-sm-2 col-xs-6 text-center">
<%= image_tag "brand-apple.png" %>
</div>
<div class="col-sm-2 col-xs-6 text-center">
<%= image_tag "brand-nike.png" %>
</div>
<div class="col-sm-2 col-xs-6 text-center">
<%= image_tag "brand-samsung.png" %>
</div>
<div class="col-sm-2 col-xs-6 text-center">
<%= image_tag "brand-jj.png" %>
</div>
<div class="col-sm-2 col-xs-6 text-center">
<%= image_tag "brand-ep.png" %>
</div>
</div>
</div>
<div class="item">
<div class="row">
<div class="col-sm-2 col-xs-6 text-center">
<%= image_tag "brand-addidas.png" %>
</div>
<div class="col-sm-2 col-xs-6 text-center">
<%= image_tag "brand-apple.png" %>
</div>
<div class="col-sm-2 col-xs-6 text-center">
<%= image_tag "brand-nike.png" %>
</div>
<div class="col-sm-2 col-xs-6 text-center">
<%= image_tag "brand-samsung.png" %>
</div>
<div class="col-sm-2 col-xs-6 text-center">
<%= image_tag "brand-jj.png" %>
</div>
<div class="col-sm-2 col-xs-6 text-center">
<%= image_tag "brand-ep.png" %>
</div>
</div>
</div>
</div>

<!-- Controls -->
<a class="left carousel-control" href="#brands-carousel" role="button" data-slide="prev">
<i class="fa fa-angle-left"></i>
<span class="sr-only">Previous</span>
</a>
<a class="right carousel-control" href="#brands-carousel" role="button" data-slide="next">
<i class="fa fa-angle-right"></i>
<span class="sr-only">Next</span>
</a>
</div>
</div>
</div>


<div class="bg_red">
<div class="container">
<div class="row">
<div class="col-sm-6">
<h3 class="text_wht mb-5">Newsletter</h3>
<p class="mb-20">Sign Up for Our Newsletter:</p>
</div>
<div class="col-sm-6">
<div class="row mt-20">
<div class="col-sm-8"><input class="form-control input-lg" placeholder="Enter your email address" type="email"></div>
<div class="col-sm-2"><button type="button" class="btn btn-black btn-lg">Subscribe</button></div>
</div>
</div>
</div>
</div>
</div>

<footer>
    <div class="copy">
    	Copyright © 2018 <a href="/">time mobile</a>, All rights reserved.
    </div>
</footer>