
<% if spree_current_user %>
  <li><%= image_tag "ico-phone.png" %> <%= image_tag "ico-watsapp.png" %></li>
  <li><h4 class="Roboto-Condensed">0333-3974690</h4></li>
  <li><%= link_to Spree.t(:my_account), spree.account_path %></li>
  <li><%= link_to Spree.t(:logout), spree.logout_path %></li>

<% else %>
  <li><%= image_tag "ico-phone.png" %> <%= image_tag "ico-watsapp.png" %></li>
  <li><h4 class="Roboto-Condensed">0333-3974690</h4></li>
  <li id="link-to-login"><%= link_to Spree.t(:login), spree.login_path %></li>
<% end %>
<li id="search-bar" data-hook>
  <%= render partial: 'spree/shared/search' %>
</li>