<div class="header-search col-sm-5 col-md-4 col-lg-4">
<h1 class="Roboto-Condensed">Online shopping for imported products in <span class="text_gren">Pakistan</span></h1>
</div>

<nav class="navbar col-sm-6 col-md-5 col-lg-5" id="top-nav-bar">
  <ul id="nav-bar" class="nav navbar-nav navbar-right" data-hook>
    <li id="search-bar" data-hook>
    </li>  
  </ul>
</nav>
